 /************* RESET *************/
 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/************* VARIABLES *************/
:root {
    --neutral-dark-gray: hsl(0, 0%, 59%);
    --neutral-light-gray: hsl(225, 10%, 92%);
    --primary-dark-blue: hsl(229, 23%, 23%);
    --primary-dark-cyan: hsl(185, 75%, 39%);
    --primary-dark-gray-blue: hsl(227, 10%, 46%);
  }
/************* BASE STYLES *************/
body {
    font-size: 16px;
    line-height: 1.5rem;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: var(--primary-dark-cyan);
    background-image: url("../images/bg-pattern-top.svg"), url("../images/bg-pattern-bottom.svg");
    background-position: left 122% top 200%, right 120% bottom 220%;
    background-repeat: no-repeat;
}
/************ MOBILE STYLES ************/
.container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 90%;
}
.card-top {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 auto;
}
.card-top img {
    display: flex;
    margin-top: 12rem;
    width: 20rem;
    border-radius: 6% 6% 0 0;
}
.photo img {
    border: 5px white solid;
    height: 125px;
    width: 125px;
    border-radius: 50%;
    margin: -4rem 6rem ;
}
h1 {
    margin-top: 5rem;
    text-align: center;
}
h1 span {
    color: hsl(0, 0%, 59%);
}
h3 {
    margin-top: 1.5rem;
    text-align: center;
    color: hsl(0, 0%, 59%);
}
.card-bottom {
    background-color: white;
    border-radius: 0 0 5% 5%;
    width: 20rem;
}
.stats {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 3rem;
}
.data {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    margin-left: 2rem;
}

/************ FOOTER ************/
    footer {
        margin-top: 6rem;
        text-align: center;
        font-size: .75rem;
    }

/*********** TABLET STYLES **********/
@media only screen and (min-width: 768px) {
    body {
        background-position: left 265% top 220%, right 275% bottom 270%;
    }
    .card-top img {
        width: 30rem;
        }
    .photo img {
        height: 135px;
        width: 135px;
        margin: -4rem 10rem ;
    }
    .card-bottom {
        width: 30rem;
        }
    footer {
            font-size: 1.15rem;
        }

}

/************* LAPTOP STYLES **************/
@media only screen and (min-width: 1024px) {
    body {
        background-position: left -750% top 300%, right -750% bottom 300%;
       }
}

/*********** DESKTOP STYLES ***********/
@media only screen and (min-width: 1440px) {
    body {
        background-position: left -50% top 250%, right -50% bottom 280%;
       }

}
